sudo: false
language: node_js
node_js:
  - 5
  - 7
script: npm run-script ci
cache:
  directories:
    - node_modules
# Post build notifications to the Integrations Flowdock
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
